body{
    font-family:roboto-black;
    font-size: 12px;
    font-weight: 200;
    margin: unset;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 35px;
}
h3 {
    font-size:30px;
}
h4{
    font-size:26px;
}
h5{
    font-size:23px;
}
/*login */
.login-bg{
   background: linear-gradient(267deg, #93D1D7 35.39%, #177db4 98.3%)
}
.login-container {
    margin-top: 25%;
}
.login-container .card-logo {
    background: #B1d7dc;
    height: 100px;
    text-align: center;
}
.card-logo img{
    margin-top: 30px;
    height: 30px;
}
.login-container .card {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    background: #B1d7dc;
    font-family: inter-black;
}
.form-el-div{
    padding: 5px;
}
.form-el-div {
    font-family: roboto-regular;
    font-size: 20px;
}
.form-el-div label{
    font-weight: 500;
}
.form-el-div input {
    padding: 10px 5px;
    border: 1px groove #006093;
}
.form-el-div button{
    font-size: 20px !important;
    font-weight: 500;
    padding: 5px;
    background: #006093;
}

/*common areas */
.main {
    margin-left: 150px;
    padding: 20px;
    min-height: 75vh;
}
.logo img{
    height: 22px;
}
.dashboard-header {
    background: linear-gradient(12deg, #93D1D7 35.39%, #177db4 98.3%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; 
    position: sticky;
    top: 0;
}

.navbar .action-container {
    width: 270px;
}
.navbar-nav {
    width: 140px;
    float: left;
}
.navbar-nav select {
    padding: 10px 5px;
    margin-top: -4px;
    border: 1px groove #006093;
}
.navbar-nav select option{
    padding: 10px 5px;
}
.action-container button{
    border: 1px groove #006093;
    padding: 10px 15px;
    border-radius: 5px;
    margin-top: 9px;
}
.sidebar{
    background: linear-gradient(127deg, #93D1D7 35.39%, #177db4 68.3%);
    padding-top: 30px;
    margin-top: -10px;
    height: 100vh;
    position: fixed;
    width: 150px;

}
.sidebar a{
    padding: 10px 20px;
    border-bottom: 1px groove #006093;
    color: #343a40 !important;
    font-size: 14px !important;
    text-decoration: none;
    display: block;
}
.sidebar .active-menu,  .sidebar a:hover{
    background-color: #177db4 !important;
    color: #93D1D7 !important;
}

footer{
    /* background: linear-gradient(245deg, #93D1D7 35.39%, #177db4 98.3%); */
    background: none !important;
    color: #006093 !important;
    font-weight: 500;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
    clear: both;
}
footer a, footer a:active, footer a:visited{
    color: #006093 !important;
}

/*Data table styling */
.data-table-wraper {
    padding: 5px;
}
.data-table-header {
    background: #006093;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.data-table-header-text {
    float: left;
}
.data-table-header-text h4 {
    margin-top: -15px;
    margin-left: 20px;
    color: #FFF;
}
.data-table-header-add-new button{
    float: right;
    border: 1px groove #177db4;
    border-radius: 5px;
    background: #FFF;
    margin-top: -10px;
    margin-right: 20px;
}
.data-table-header-add-new button a {
    color: #006093;
    text-decoration: none;
}
.data-table-header-add-new i.fa-plus-circle{
    color: #006093;
}
.btn {
    padding: 5px 10px;
    margin: 2px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-edit {
    background-color: #006093;
}

.btn-delete {
    background-color: #dc3545;
}

/*Filter section */
.filters-container{
    padding: 10px 5px;
    border:1px groove #006093;
    border-radius: 5px;
    margin: 20px 0;
}
.filters-container label {
    font-size: 14px;
    font-weight: 600;
    margin-right: 10px;
}
.filters-container select {
    margin-right: 20px;
    padding: 10px 5px;
    border: 1px groove #006093;
}
/*Forms */
.form-el-div-wraper {
    padding: 10px 25px;
}
.form-el-div-wraper label {
    font-size: 16px;
}
.form-el-div-wraper select, .form-el-div-wraper input, .form-el-div-wraper textarea {
    width: 100%;
    border: 1px groove #006093;
    padding: 10px 5px;
    margin-bottom: 20px;
}
.form-page-header{
    background: #006093;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #FFF;
    margin-bottom: 20px;
}
.form-page-header h4 {
    padding: 10px 15px;
    margin-top:10px;
}
fieldset {
    margin-top: 15px;
    
}
fieldset legend {
    font-size: 18px;
}
.form-field-container form button,  .form-field-container form a.btn{
    font-size: 16px;
    padding: 15px 50px;
    background: none;
    border: 1px groove #006093;
    color: #006093;
    text-decoration: none;
}
.form-field-container form button:hover {
    background: #006093;
    border: 1px groove #FFF;
    color: #FFF;
}
.form-field-container form a.btn{
    border: 1px groove #343a40;
    color: #343a40;
    padding: 15px 44px;
}
.form-field-container form a.btn:hover{
    border: 1px groove #FFF;
    color: #FFF;
    background: #343a40;
}
.form-field-container .button-container{
    float: right;
    margin-top: 20px;
    margin-right:20px;
}
