{% extends 'base.html' %}

{% block title %}Clubs{% endblock %}

{% block content %}
<div class="data-table-wraper">
    <div class="data-table-header">
        <div class="data-table-header-text">
            <h4>Clubs</h4>
        </div>
        <div class="data-table-header-add-new">
            <button style="font-size:18px"><a href="/clubs/add">Add <i class="fa fa-plus-circle"></i></a></button>
        </div>
        
    </div>
    
        <table id="clubsTable" class="display">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
        </table>
    </div>
    {% endblock %}

    {% block scripts %}

    <script>
        $(document).ready(function () {
            const table =  $('#clubsTable').DataTable({
                ajax: '/api/club',
                columns: [
                    {
                        data: 'id',
                        render: (data, type, row, meta) => meta.row + 1,
                    },
                    { data: 'title' },
                    { data: 'description' },
                    { data: 'status' },
                    {
                        data: 'id',
                        render: (data) => `
                            <a href="/clubs/edit/${data}" class="btn btn-edit">Edit</a>
                            <button class="btn btn-delete" onclick="deleteModule(${data})">Delete</button>
                        `,
                    },
                ],
            });
            window.deleteModule = function (id) {
                if (confirm('Are you sure you want to delete this module?')) {
                    $.ajax({
                        url: `/clubs/delete/${id}`,
                        type: 'POST',
                        success: function (response) {
                            alert(response.message);
                            table.ajax.reload(); // Reload the DataTable
                        },
                        error: function () {
                            alert('Failed to delete the module.');
                        }
                    });
                }
            };
        });
    </script>
{% endblock %}
