{% extends 'baseform.html' %}

{% block title %}{{ 'Edit' if house else 'Add' }} House{% endblock %}

{% block content %}


<div class="container mt-5 form-field-container">
    <div class="form-page-header">
        <h4>{{ 'Edit' if  house else 'Add' }} House</h4>
    </div>
  
    <form method="post">

      <div class="mb-3 form-el-div-wraper">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="house" name="title"
             value="{{house.title if house else ''}}" required>
      </div>


        

        <div class="mb-3 form-el-div-wraper">
            <label for="description">Description:</label>
            <textarea
                id="description"
                name="description"
                class="form-control"
                required
            >{{ house.description if house else '' }}</textarea>
        </div>

        <div class="mb-3 form-el-div-wraper">
            <label for="color" class="form-label">Color</label>
            <input type="text" class="form-control" id="color" name="color"
             value="{{house.color if house else ''}}" required>
        </div>





        <div class="mb-3 form-el-div-wraper">
            <label for="status">Status:</label>
            <input
                type="checkbox"
                id="status"
                name="status"
                {% if house and house.status %}checked{% endif %}
            />
            
        </div>


        <div class="button-container">
            <button type="submit" class="btn btn-primary">{{ 'Save' if houses else 'Add' }}</button>
        <a href="/houses/add" class="btn btn-secondary">Cancel</a>

        
    </form>
</div>
{% endblock %}
