{% extends 'baseform.html' %}

{% block title %}{{ 'Edit' if school else 'Add' }} School{% endblock %}

{% block content %}


<div class="container mt-5 form-field-container">
    <div class="form-page-header">
        <h4>{{ 'Edit' if  school else 'Add' }} School</h4>
    </div>
  
    <form method="post">



        <div class="mb-3 form-el-div-wraper">
            <label for="code" class="form-label">Code</label>
            <input type="text" name="code" value="{{ school and school.code }}" required>
        </div>

        <div class="mb-3 form-el-div-wraper">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="title" value="{{ school and school.title }}" required>
        </div>




        <div class="mb-3 form-el-div-wraper">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" id="permanent_address"
                name="description">{{school.description if school else ''}}</textarea>
        </div>
        
        
        
        <div class="mb-3 form-el-div-wraper">
            <label for="address" class="form-label"> Address</label>
            <textarea class="form-control" id="permanent_address"
                name="address">{{school.address if school else ''}}</textarea>
        </div>

        <div class="mb-3 form-el-div-wraper">
            <label for="phone" class="form-label">Phone</label>
            <input type="text" name="phone" value="{{ school and school.phone }}"> 
        </div>

        <div class="mb-3 form-el-div-wraper">
            <label for="syllabus" class="form-label">Syllabus</label>
            <input type="text" name="syllabus" value="{{ school and school.syllabus }}">
        </div>

        
        <div class="mb-3 form-el-div-wraper">
            <label for="status" class="form-label">Status</label>
            <input type="checkbox" name="status" {% if school and school.status %}checked{% endif %}>
            
            </div>
        
        
            <div class="button-container">
                <button type="submit" class="btn btn-primary">{{ 'Save' if school else 'Add' }}</button>
            <a href="/schools/list" class="btn btn-secondary">Cancel</a>
             </div>
        
{% endblock %}
