{% extends 'baseform.html' %}

{% block title %}{{ 'Edit' if section else 'Add' }} Section{% endblock %}

{% block content %}
<div class="container mt-5 form-field-container">
    <div class="form-page-header">
        <h4>{{ 'Edit' if  section else 'Add' }} Section</h4>
    </div>
  
    <form method="POST">

        <div class="mb-3 form-el-div-wraper">
            <label for="title" class="form-label">Section Title</label>
            <input type="text" class="form-control" id="title" name="title"
             value="{{section.title if section else ''}}" required>
        </div>
        
        <div class="button-container">
            <button type="submit" class="btn btn-primary">{{ 'Save' if role else 'Add' }}</button>
        <a href="/sections/list" class="btn btn-secondary">Cancel</a>
         </div>

        
</div>
{% endblock %}
