{% extends 'base.html' %}

{% block title %}Staffs{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Staffs</h1>
    <a href="/staffs/add" class="btn btn-edit">Add Staff</a>
    <table id="staffsTable" class="display">
        <thead>
            <tr>
                <th>#</th>
                <th>School</th>
                <th>Staff Type</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
    </table>
</div>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        var permissionName = "{{ session['menu_permission_map'].get('Staffs') }}";
        var superadminRoleId = "{{ session['is_superadmin'] | tojson }}";
        alert(permissionName)
        $('#staffsTable').DataTable({
            ajax: '/api/staffs',
            columns: [
                {
                    data: 'id',
                    render: (data, type, row, meta) => meta.row + 1,
                },
                { data: 'school' },
                { data: 'staff_type' },
                { data: 'first_name' },
                { data: 'last_name' },
                { data: 'status' },
                {
                    data: 'id',
                    render: (data, type, row) => {
                        // Check if permission_name is 'create'
                        if (permissionName != 'View'|| superadminRoleId == 'true') {
                            return `
                                <a href="/staffs/edit/${data}" class="btn btn-edit">Edit</a>
                                <button class="btn btn-delete" onclick="deleteModule(${data})">Delete</button>
                            `;
                        } else {
                            return ''; // If permission_name is not 'create', no buttons
                        }
                    },
                },
            ],
        });
        window.deleteModule = function (id) {
                if (confirm('Are you sure you want to delete this module?')) {
                    $.ajax({
                        url: `/staffs/delete/${id}`,
                        type: 'POST',
                        success: function (response) {
                            alert(response.message);
                            table.ajax.reload(); // Reload the DataTable
                        },
                        error: function () {
                            alert('Failed to delete the module.');
                        }
                    });
                }
            };
    });
</script>
{% endblock %}
