{% extends 'baseform.html' %}

{% block title %}Staff Types{% endblock %}

{% block content %}


<div class="container mt-5 form-field-container">
    <div class="form-page-header">
        <h4>{{ 'Edit' if  staff_types else 'Add' }} Staff Types</h4>
    </div>
  
    <form method="post">


        <div class="mb-3 form-el-div-wraper">
            <label for="tittle" class="form-label">Title</label>
            <input 
                    type="text" 
                    class="form-control" 
                    id="title" 
                    name="title" 
                    value="{{ staff_type.title if staff_types else '' }}" 
                    required
            >
        </div>


            
            
            <div class="button-container">
                <button type="submit" class="btn btn-primary">{{ 'Save' if staff_types else 'Add' }}</button>
            <a href="/staff_types/add" class="btn btn-secondary">Cancel</a>
             </div>
               



            
        </form>
    </div>


 {% endblock %}
