{% extends 'baseform.html' %}

{% block title %}Subjects{% endblock %}

{% block content %}

<div class="container mt-5 form-field-container">
    <div class="form-page-header">
        <h4>{{ 'Edit' if subject else 'Add' }} Subject</h4>
    </div>
    

    <form method="post">


            <div class="form-group">
                <label for="title">Title:</label>
                <input type="text" id="title" name="title" class="form-control" required value="{{ subject.title if subject else '' }}">
            </div>

            <button type="submit" class="btn btn-primary mt-3">Save</button>
            <a href="/subjects" class="btn btn-secondary mt-3">Cancel</a>
        </form>
    </div>
    {% endblock %}
